// scss variables 
// color 
$color-anti-flash-white: #eef3f4; 
$color-white: #fff; 
$color-light-goldenrod-yellow: #faffd8; 
$color-davys-grey: #555a5b; 
$color-philippine-silver: #a9b4b7; 
$color-charleston-green: #1f2f29; 
$color-bright-gray: #e7edee; 
$color-mountain-meadow: #2cc695; 
// transition
$ts: all 0.2s; 

// css reset
*,
*::before,
*::after {
  box-sizing: border-box; 
  margin: 0;
  padding: 0; 
}

input {
  font-family: inherit; 
  border: none; 
}

button {
  border: none; 
  background-color: initial; 
  outline: none; /* focus state needed */ 
}

ul {
  list-style: none; 
}

a {
  color: inherit; 
  text-decoration: none; 
}

// utility class: for specific elements to be styled a common way 
.u-italic  {
  font-style: italic; 
}

.u-accent {
  color: $color-mountain-meadow; 
}

.u-underline {
  text-decoration: underline; 
}

.u-bold {
  font-weight: 500; 
}

.u-bolder {
  font-weight: 700; 
}

// keyframes 
@keyframes fade-in {
  0% {
    opacity: 0; 
    transform: translateY(20px); 
  }

  100% {
    opacity: 1; 
    transform: translateY(0); 
  }
}

// base
.page {
  font-family: "Poppins", sans-serif; 
  font-size: 14px; 
  color: $color-white; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: $color-light-goldenrod-yellow; 
  scrollbar-width: none; 

  &::-webkit-scrollbar {
    display: none; 
  }
}

.app {
  height: 1030px; 
  width: 1240px; 
  background-color: $color-white; 
  box-shadow: 0 25px 150px rgba(0, 0, 0, 0.65); 
  margin: 80px 0;

  /* grid container */
  display: grid; 
  grid-template-columns: 355px 1fr; /* 355px and rest as fr */ 
  grid-template-rows: 55px 724px 1fr; /* 55px, 724px and rest as fr */ 
}

// styles
.header {
  grid-column: 1 / 3; /* with grid, span from col 1 to col 3 */ 
  grid-row: 1 / 2; /* with grid, span from row 1 to row 2 */ 
  display: flex; 
  align-items: center; 
}

.logo {
  height: 38px; 
  width: 38px; 
  margin-left: 26px; 
  margin-right: 48px; 
}

.search {
  position: relative; 

  &__input {
    background-color: $color-anti-flash-white;
    height: 34px; 
    width: 405px; 
    border-radius: 500px; 
    font-size: 13px; 
    color: $color-davys-grey; 
    padding-left: 20px; 
    outline: none; 
    transition: $ts; 

    &:focus {
      width: 425px; 
    }
  
    &::placeholder {
      color: $color-philippine-silver; 
    }
  }

  &__submit {
    font-size: 15px; 
    color: $color-philippine-silver;
    cursor: pointer; 
    transition: $ts; 
    position: absolute; 
    top: 8px; 
    right: 13px; 

    &:focus {
      color: $color-davys-grey; 
    }
  }

  &__icon {

  }
}

.nav {
  margin-left: auto; 

  &__list {
    display: flex; 
  }
  
  &__item {
  
  }
  
  &__link {
    padding: 0 20px; 
    transition: $ts; 
    height: 55px; 
    display: block; 

    &:hover,
    &:focus {
      background-color: $color-anti-flash-white; 
    }
  }
  
  &__icon {
    color: $color-philippine-silver; 
    font-size: 20px; 
    line-height: 55px; 
  }
}

// -------------------------

.sidebar {
  background-color: $color-charleston-green; 
  grid-column: 1 / 2; 
  grid-row: 2 / 4; 
}

.intro {
  padding: 48px 35px 45px; 
  border-bottom: 1px solid rgba(#fff, 0.1); 

  &__text {
    color: $color-anti-flash-white; 
    font-size: 16px; 
    margin-top: 12px; 
    line-height: 1.8; 
  }
}

.first-heading {
  font-weight: 600; 
  text-transform: uppercase; 
  font-size: 34px; 
  line-height: 1.2; 
}

.social {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin: 25px 0 30px; 

  &__img {
    height: 35px; 
    width: 35px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 2px solid $color-white; 

    &:not(:first-child) {
      margin-left: -6px; 
    }
  }

  &__container {
    margin-left: 10px; 
  }

  &__number {
    font-weight: 500; 
  }

  &__text {
    font-size: 12px; 
    color: $color-philippine-silver; 
    margin-top: -5px; 
  }
}

.auth {
  &__text {
    color: $color-philippine-silver; 
    font-size: 12px; 
    text-align: center; 
    margin-top: 10px; 
  }

  &__link {
    font-weight: 500; 
    color: $color-mountain-meadow; 
  }
}

.btn {
  background-color: #16b47f; 
  padding: 12px 0; 
  display: block; 
  text-align: center; 
  border-radius: 500px; 
  text-transform: uppercase; 
  font-weight: 500; 
  transition: $ts; 

  &:hover,
  &:focus {
    background-color: #119267; 
  }

  &__icon {
    margin-left: 10px; 
  }
}

.upload {
  padding: 45px 35px; 
  border-bottom: 1px solid rgba(#fff, 0.1); 
  color: $color-philippine-silver; 

  &__container {
    background-color: rgba(#fff, 0.03);
    height: 330px; 
    border-radius: 3px; 
    cursor: pointer; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    transition: $ts; 
    position: relative; 
    overflow: hidden; 
    
    &:hover {
      background-color: rgba(#fff, 0.06); 
    }

    // hacky way to create a dashed border around upload__container
    &::before {
      content: ""; 
      border: 2px dashed #434747; 
      position: absolute; 
      top: -1px; 
      bottom: -1px; 
      left: -1px; 
      right: -1px; 
    }
  }

  &__icon {
    font-size: 22px; 
  }

  &__text {
    color: $color-white; 
    margin-top: 8px; 
  }

  &__alternative {
    font-size: 12px; 
    margin-top: -2px; 
  }
}

.footer {
  padding-top: 50px; 
  padding-left: 35px; 
  font-size: 11px; 
  color: rgba($color-philippine-silver, 0.6); 

  &__list {
    display: flex; 
    column-gap: 15px; 
    margin-top: 10px; 
  }

  &__item {

  }

  &__link {

  }
}

.copyright {
  font-size: inherit; 
}

// -------------------------

.gallery {
  background-color: $color-anti-flash-white;
  grid-column: 2 / 3; 
  grid-row: 2 / 3; 
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: 272px 60px 90px 64px 30px 208px; 

  &__img-wrapper {
    position: relative; 

    &:nth-child(1) {
      grid-column: 1 / 2; 
      grid-row: 1 / 3; 
      animation: fade-in 1s 0.1s backwards; 
    }

    &:nth-child(2) {
      grid-column: 2 / 3; 
      grid-row: 1 / 4; 
      animation: fade-in 1s 0.2s backwards; 
    }

    &:nth-child(3) {
      grid-column: 3 / 4; 
      grid-row: 1 / 2; 
      animation: fade-in 1s 0.3s backwards; 
    }

    &:nth-child(4) {
      grid-column: 1 / 2; 
      grid-row: 3 / 6; 
      animation: fade-in 1s 0.4s backwards; 
    }

    &:nth-child(5) {
      grid-column: 2 / 3; 
      grid-row: 4 / 7; 
      animation: fade-in 1s 0.5s backwards; 
    }

    &:nth-child(6) {
      grid-column: 3 / 4; 
      grid-row: 2 / 5; 
      animation: fade-in 1s 0.6s backwards; 
    }

    &:nth-child(7) {
      grid-column: 1 / 2; 
      grid-row: 6 / 7; 
      animation: fade-in 1s 0.7s backwards; 
    }

    &:last-child {
      grid-column: 3 / 4; 
      grid-row: 5 / 7; 
      animation: fade-in 1s 0.8s backwards; 
    }
  }

  &__img {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
  }

  &__comment {
    background-color: $color-white; 
    font-size: 12px; 
    color: $color-philippine-silver; 
    padding: 4px 10px; 
    border-radius: 500px; 
    position: absolute; 

    &--1 {
      top: 15px; 
      right: 15px; 
    }

    &--2 {
      bottom: 15px; 
      right: 15px; 
    }

    &--3 {
      top: 15px; 
      left: 15px; 
    }

    &--4 {
      bottom: 15px; 
      left: 15px; 
    }
  }
  
  &__icon {
    color: $color-mountain-meadow; 
    font-size: 11px; 
    margin-right: 2px; 
  }

  &__number {
    font-size: 11px; 
    font-weight: 600; 
    margin-right: 5px; 
  }
}

// -------------------------

.steps {
  background-color: $color-bright-gray;
  grid-column: 2 / 3; 
  grid-row: 3 / 4; 
}